@media screen and (max-width: 1600px) {
  .slider {
    height: 650px;
  }
}
@media screen and (max-width: 1330px) {
  .image-btn {
    font-size: 15px;
    bottom: 10%;
  }
  .top-left h1 {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 20px;
  }
  .top-left p {
    font-size: 15px;
  }
  .image-btn {
    padding: 18px 30px;
    font-size: 20px;
  }
  .bottom-right {
    padding: 10px;
    bottom: 30px;
    font-size: 15px;
    height: 70px;
  }
  .bottom-right h3 {
    font-size: 15px;
  }
  .bottom-right p {
    font-size: 10px;
  }
  .bottom-right span {
    font-size: 10px;
  }
  .slider {
    height: 500px;
  }
  .category img {
    width: 332px;
    height: 280px;
  }
}

@media screen and (max-width: 1100px) {
  .bottom-right {
    padding: 10px;
    bottom: 25px;
    font-size: 12px;
  }
  .bottom-right h3 {
    font-size: 12px;
  }
  .bottom-right p {
    font-size: 10px;
  }
  .bottom-right span {
    font-size: 10px;
  }
  .image-btn {
    font-size: 15px;
    bottom: 10%;
  }
  .top-left h1 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  .top-left p {
    font-size: 12px;
  }
  .slider__navlink {
    width: 7px;
    height: 7px;
  }
  .slider {
    height: 465px;
  }

  .category-wrapper h1 {
    font-size: 35px;
  }
  .text-container p {
    font-size: 20px;
  }
  .info svg {
    width: 50px;
    height: 50px;
    padding: 7px;
  }
  .info h3 {
    font-size: 15px;
  }
  .info span {
    font-size: 11px;
  }
  .info {
    flex-direction: column;
    align-items: center;
  }
  .text-holder {
    margin-top: 8px;
  }
  .footer {
    padding: 30px 0px;
  }
  .footer-ul {
    margin-bottom: 30px;
  }
  .footer-ul h3 {
    margin-bottom: 20px;
  }
  .footer-li {
    margin-bottom: 8px;
  }
  .fab {
    margin-top: 20px;
  }
}

@media screen and (max-width: 720px) {
  .top-left p {
    margin-top: 5px;
  }
  .info svg {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
  .info h3 {
    font-size: 14px;
  }
  .info span {
    font-size: 10px;
  }
}

@media screen and (max-width: 710px) {
  .category img {
    width: 285px;
    height: 240px;
  }
  .text-container p {
    font-size: 15px;
  }
  .category-wrapper h1 {
    font-size: 30px;
  }
  .category {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 676px) {
  .top-left h1 {
    font-size: 18px;
  }
  .top-left p {
    font-size: 12px;
  }
  .image-btn {
    padding: 15px 25px;
    font-size: 12px;
    bottom: 10%;
  }
  .bottom-right {
    padding: 5px;
    bottom: 20px;
    font-size: 10px;
  }
  .bottom-right h3 {
    font-size: 10px;
  }
  .bottom-right p {
    font-size: 8px;
  }
  .bottom-right span {
    font-size: 8px;
  }
  .slider__navlink {
    width: 5px;
    height: 5px;
  }

  /* .slider {
    height: 400px;
  } */
  .slider__nav-button {
    height: 50px;
    width: 50px;
  }
  .category {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 581px) {
  .top-left {
    padding: 27px 25px;
  }
  .top-left h1 {
    font-size: 15px;
  }
  .top-left p {
    font-size: 10px;
  }
  .image-btn {
    padding: 10px 20px;
    font-size: 8px;
    /* bottom: 10%; */
  }
  .bottom-right {
    display: none;
  }
  /* .slider {
    height: 300px;
  } */
  .slider__nav-button {
    height: 30px;
    width: 30px;
  }
  .text-container p {
    font-size: 15px;
  }
  .category-wrapper h1 {
    font-size: 20px;
  }
  .info svg {
    width: 30px;
    height: 30px;
    padding: 3px;
  }
  .info h3 {
    font-size: 12px;
  }
  .info span {
    font-size: 9px;
  }
}
@media screen and (max-width: 430px) {
  .top-left {
    padding: 15px 20px;
  }
  .top-left p {
    font-size: 8px;
  }
  .image-btn {
    font-size: 8px;
    bottom: 5%;
  }
  /* .slider {
    height: 200px;
  } */
}
@media screen and (max-width: 336px) {
  .top-left {
    padding: 10px 15px;
  }
  .top-left p {
    font-size: 8px;
  }
  .image-btn {
    font-size: 5px;
  }
  .slider__nav-button {
    height: 15px;
    width: 15px;
  }
  .category img {
    width: 190px;
    height: 160px;
  }
}
