@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .slider {
    height: 600px;
  }
  .image-btn {
    font-size: 15px;
    bottom: 10%;
  }
  .top-left h1 {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 20px;
  }
  .top-left p {
    font-size: 15px;
  }
  .image-btn {
    padding: 18px 30px;
    font-size: 20px;
  }
  .bottom-right {
    padding: 10px;
    bottom: 30px;
    font-size: 15px;
    height: 70px;
  }
  .bottom-right h3 {
    font-size: 15px;
  }
  .bottom-right p {
    font-size: 10px;
  }

  .category img {
    width: 332px;
    height: 280px;
  }
}

/* Desktop small */
@media only screen and (max-width: 1280px) {
  .form {
    width: 300px;
  }
  .slider {
    height: 450px;
  }
  .bottom-right {
    padding: 10px;
    bottom: 25px;
    font-size: 12px;
  }
  .bottom-right h3 {
    font-size: 12px;
  }
  .bottom-right p {
    font-size: 10px;
  }
  .image-btn {
    font-size: 12px;
    padding: 20px 30px;
    bottom: 10%;
  }
  .top-left {
    padding: 50px 30px;
  }
  .top-left h1 {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 2px;
  }
  .top-left p {
    font-size: 15px;
    margin-top: 15px;
  }

  .slider__navlink {
    width: 7px;
    height: 7px;
  }
  .text-holder {
    align-items: center;
  }
  .info svg {
    width: 50px;
    height: 50px;
    padding: 7px;
    margin-bottom: 10px;
  }

  .info h3 {
    font-size: 15px;
  }
  .info span {
    font-size: 11px;
    text-align: center;
  }
  .info {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}
@media only screen and (max-width: 1210px) {
  .category img {
    width: 300px;
    height: 250px;
  }
}
/* Tablet portrait */
@media only screen and (max-width: 1000px) {
  .category img {
    width: 260px;
    height: 220px;
  }
  .info-holder {
    padding: 20px 0px;
  }
  .form-s {
    position: sticky;
    top: 60px;
    background-color: aliceblue;
    margin-top: 7px;
    display: flex;
    width: 100%;
    top: 200;
    z-index: 1;
  }
  .search {
    height: 50px;
  }
  .nav-ul-small {
    margin-top: 10px;
  }
  .nav {
    display: none;
  }
  .nav-ul {
    display: flex;
    width: 33.33%;
    justify-content: end;
  }
  .container {
    margin-top: 10px;
  }

  .nav-ul-small {
    display: flex;
    flex-direction: column;
    width: 33.33%;
  }
  .logo {
    margin: 0px;
  }
  .nav-li {
    margin-left: 0px;
    padding: 0px 5px;
  }
  .nav-small {
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
  }
  .top-left {
    padding: 40px 20px;
  }
  .top-left h1 {
    font-size: 20px;
  }

  .image-btn {
    font-size: 12px;
    bottom: 10%;
    padding: 20px 30px;
  }
  .top-left h1 {
    font-size: 25px;
  }
  .info-holder {
    justify-content: space-between;
  }

  .category-wrapper h1 {
    font-size: 30px;
  }
}

/* Mobile landscape */
@media only screen and (max-width: 700px) {
  .slider {
    height: 400px;
  }
  .top-left {
    width: 45%;
  }

  .top-left h1 {
    font-size: 15px;
    line-height: 20px;
  }
  .top-left p {
    font-size: 12px;
    margin-top: 10px;
  }
  .image-btn {
    padding: 15px 20px;
    font-size: 12px;
  }
  .bottom-right {
    padding: 5px;
    bottom: 20px;
    font-size: 10px;
  }
  .bottom-right h3 {
    font-size: 10px;
  }
  .bottom-right p {
    font-size: 8px;
  }
  .bottom-right span {
    font-size: 8px;
  }
  .slider__navlink {
    width: 5px;
    height: 5px;
  }

  .slider__nav-button {
    height: 50px;
    width: 50px;
  }
  .category {
    margin-bottom: 10px;
  }
  .info svg {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
  .info h3 {
    font-size: 14px;
  }
}
@media screen and (max-width: 880px) {
  .category img {
    width: 200px;
    height: 180px;
  }
}
@media screen and (max-width: 430px) {
  .help {
    display: none;
  }
  .avatar {
    width: 20px;
    height: 20px;
  }
  .top-left {
    padding: 40px 20px;
  }

  .image-btn {
    font-size: 10px;
    padding: 15px;
  }
  .slider__nav-button {
    height: 15px;
    width: 15px;
  }
  .info svg {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  .info h3 {
    font-size: 10px;
  }
  .info span {
    font-size: 8px;
  }
}
@media screen and (max-width: 383px) {
  .top-left {
    padding: 40px 20px;
    width: 50%;
  }

  .image-btn {
    font-size: 10px;
    padding: 15px;
  }
}
